doctype html
html
  block config
  //- -
  //-   //- var baseUrl = 'http://localhost:3000'
  //-   var baseUrl = 'https://freebiker2000.github.io/roberto-blake-replica'
  
  head
    title=title
    meta(name="description", content=description)
    meta(name="robots", content="noindex")
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(rel="canonical", href="http://robertoblake.com/")
    if config.entry.css.embed
      link(rel="stylesheet", href=`${embedPath}`, inline)
  body
    include ../header/header
    .content
      block content
    hr
    include ../featured/featured
    .footer
      include ../footer/footer
link(rel="stylesheet", href=`${baseUrl}/style.css`)